
/* Styling for the whole page */

/* Define the main color theme for this site */
:root {
    --backgroundColor: #5D9CEC;
    --backgroundGray: #848484;
    --accentColor: #4A89DC;
    --primaryFontColor: #F7F7F7;
    --secondaryFontColor: #E6E6E6;
}

body {
	background: var(--backgroundColor);
	color: var(--primaryFontColor);
	font-family: 'Montserrat', sans-serif;
}
h1, h2 { font-weight: bold; }
p {
	font-size: 1.75rem;
	color: var(--secondaryFontColor);
}

/* Styling for the jumbotron */
.jumbotron {
    background-image: url("/images/background1.png");
    background-attachment: fixed;
	background-color: var(--backgroundColor);
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
	color: var(--primaryFontColor);
	text-align: center;
    height: 75rem;
}
#jumbo {
    margin-top: 5rem;
}
.jumbotron p {
	color: var(--primaryFontColor);
	font-size: 2.5rem;
}

/* Submit button styling */
.btn-primary, .btn-primary:focus {
	color: var(--primaryFontColor);
	background-color: transparent;
	border-color: var(--primaryFontColor);
	margin-bottom: 1rem;
}
.btn-primary:hover {
	color: var(--backgroundColor);
	background: var(--primaryFontColor);
	border-color: var(--backgroundColor);
}
.btn-primary:active {
	background: var(--accentColor) !important;
    border: 0;
    box-shadow: 0 0 7px 3px var(--primaryFontColor) !important;
}

.services {
    text-align: center;
}
.glyphicon-large {
	font-size: 9rem;
}
.call-to-action {
    background: var(--backgroundGray);
	text-align: center;
    padding-top: 5rem;
}
.call-to-action p {
	font-family: sans-serif;
    padding-bottom: 5rem;
}

#footer {
    height: 7rem;
    text-align: center;
    padding: 3rem;
}
#footer a {
    border: none;
    color: var(--primaryFontColor);
}
#footer a:hover {
    background: var(--accentColor)
}
#footer p {
    margin: 2rem;
    text-decoration: none;
    color: var(--primaryFontColor);
}


/* Header bar stuff. */

/* Start with definitions that look good on mobile. */

/* Set the default .active color of navbar elements. */
.nav .active a {
    background: var(--accentColor) !important;
}
/*
 * Adjust properties for the inverse color navbar.
 */
.navbar-inverse {
	background: var(--backgroundColor);
    border: none;
}
/* Remove the border from in between the navbar and the drop down menu. */
.navbar-inverse .navbar-collapse {
    border: none;
}
.navbar-inverse .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}
/*
 * Define the transition for animating various events that happen within the navbar.
 */
.navbar-inverse,
.navbar-inverse .navbar-nav li a,
.header-branding a,
.header-branding p {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*
 * Adjust how the company title and subtitle are displayed. Note that the navbar will adjust it's
 * height to wrap it's tallest child. These are dynamically added/removed in headerScrollControl.js.
 */
.header-branding {
     padding-top: 1.2rem;
     padding-left: 1.5rem;
 }
.header-branding-name {
     font-family: 'Droid Sans', sans-serif;
     color: var(--primaryFontColor);
     font-weight: bold;
 }
.header-branding-name:hover {
    text-decoration: none;
    color: inherit;
}
.header-branding-number, .header-branding-number a, .header-branding-number p {
    font-family: 'Droid Sans', sans-serif;
    text-decoration: none;
    color: var(--primaryFontColor);
}

.header-branding-name-not-fancy { font-size: 1.6rem; }
.header-branding-name-fancy { font-size: 3rem; }
.header-branding-number-fancy, .header-branding-number-fancy a, .header-branding-number-fancy p { font-size: 3rem; }
/* Adjust the navbar items specs. */
.navbar-inverse .navbar-nav li a {
	color: var(--primaryFontColor);
    text-align: center; /* center text looks better when line item takes entire horizontal space */
    /* Note: the text-size and line-height are adjusted dynamically in headerScrollControl.js. */
}
/* Adjust the navbar items specs on hover. */
.navbar-inverse .navbar-nav li a:hover { background: var(--accentColor); }
/* Adjust how the hamburger icon for smaller screen sizes looks. */
.navbar-inverse .navbar-toggle {
    background-color: transparent !important;
    border-color: transparent;
    margin-top: 2rem;
}
/* Adjust how the hamburger icon for smaller screen sizes looks on hover. */
.navbar-inverse .navbar-toggle:hover { background: var(--accentColor) !important; }
/*
 * Create an animation when the hamburger icon is selected; display an X when open to indicate
 * a tap will close the menu.
 */
.navbar-inverse .navbar-toggle .icon-bar { transition: 0.5s ease; }
.navbar-inverse .navbar-toggle.collapsed .icon-bar:nth-child(2){ transform: rotate(0)translateY(0)translateX(0); }
.navbar-inverse .navbar-toggle.collapsed .icon-bar:nth-child(3){ opacity:1 }
.navbar-inverse .navbar-toggle.collapsed .icon-bar:nth-child(4){ transform: rotate(0)translateY(0)translateX(0); }
.navbar-inverse .navbar-toggle .icon-bar:nth-child(2){ transform: rotate(-45deg)translateY(5px)translateX(-5px); }
.navbar-inverse .navbar-toggle .icon-bar:nth-child(3){ opacity: 0}
.navbar-inverse .navbar-toggle .icon-bar:nth-child(4){ transform: rotate(45deg)translateY(-4px)translateX(-3px); }
/*
 * This is dynamically added/removed in headerScrollControl.js. It set's the opacity of the background of the header.
 */
.navbar-fancy {
    background: -webkit-linear-gradient(rgba(93, 156, 236, 1),  rgba(93, 156, 236, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(93, 156, 236, 1),  rgba(93, 156, 236, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(93, 156, 236, 1),  rgba(93, 156, 236, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(93, 156, 236, 1),  rgba(93, 156, 236, 0)); /* Standard syntax */
}

/* Larger than small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #jumbo { margin-top: 18rem; }
}
